{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "plugins": [
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "semi": 0,
    "comma-dangle": 0,
    "camelcase": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/href-no-hash": 0
  }
}
